<?xml version="1.0" encoding="UTF-8"?>
<data>
   	<common>				
		<url>http://172.17.0.110/</url>
	</common>
	<testLogin>
	    <username>wlpm</username>
		<password>ymbpm2016</password>
	</testLogin>
</data>